*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main_div{
    width: 100vw;
    height: 100vh;
    background-image: url("Background/background\ image.jpg");
    object-fit: cover;
    display: grid;
    place-items: center;
}

.music_container{

height: 640px;

width: 500px;

border-radius: 25px;

background: #b2bec3;

padding: 20px;

text-align: center;

}

.music_container #title {
    width: 450px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #2d3436;
    margin: 10px;
    margin-top: 5px;
    font-size: 35px;
    font-weight: 500;
    font-style: initial;
}

.music_container #artist {
    color: #636e72;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 350;
    text-align: center;
}

.img_container {
 height: 360px;
 width: 380px;
 margin: auto;
 box-sizing: border-box;
 object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;   
}

.music_controls {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.music_controls .fas{
    color: black;
    font-size: 30px;
    cursor: pointer;
    filter: drop-shadow(0, 12px, 30px, 5px rgba(0, 0, 0, 0.4));
}

.music_controls .main_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_controls .fas:hover{
    color: grey;
}

.music_controls .fa-play:hover{
    background-color: white;
    color: black;
}

/* add animation when song is being played. */
.anime {
    animation: rotatePlayer 5s linear infinite;
}

@keyframes rotatePlayer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progressbar_container {
    width: 100%;
    height: auto;
    padding: 5px 0;
    margin-top: 5px;
}

.progress_div {
    width: 100%;
    height: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 40px;
    position: relative;
    margin-top: 5px;
    transition: all 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 40px;
    position: relative;
    /* transition: all 1s linear; */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.progress_duration_meter {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
}